body{
    background-color: rgb(44, 27, 4);
    color: antiquewhite;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 38px;
}
.center{
    /* width: 100%;
    align-content: center; */
    align-self: center;
    text-align: center;
}
.brown{
    background-color: rgb(80, 4, 4);
}
.green{
    background-color: rgb(85, 77, 3);
}
.mt{
    margin-top: 10px;
}